<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperación de Contraseña</title>
    <!-- Hoja de estilo de Bootstrap y tu propio CSS personalizado -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      /* Estilo personalizado para el formulario de recuperación de contraseña
      */ body { background-image:
      url('https://p4.wallpaperbetter.com/wallpaper/561/441/224/minimalistic-dark-grey-textures-gradient-2000x1200-abstract-textures-hd-art-wallpaper-preview.jpg');
      background-size: cover; background-repeat: no-repeat; background-position:
      center; display: flex; align-items: center; justify-content: center;
      height: 100vh; margin: 0; background-color: #f8f9fa; } .containerAuth {
      max-width: 400px; padding: 20px; background-color: #fff; border: 1px solid
      #ddd; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      text-align: center; } .containerAuth h1 { font-size: 2rem; color: #333;
      margin-bottom: 20px; } .containerAuth h4 { font-size: 1.2rem; color: #555;
      margin-bottom: 20px; } .containerAuth .btn { width: 100%;
      background-color: #000; color: #fff; margin-top: 10px; padding: 10px;
      font-size: 1rem; } .containerAuth .btn:hover { background-color: #111; }
    </style>
  </head>
  <body>
    <div class="containerAuth">
      <h1>Olvidaste tu clave</h1>
      <h4>Estamos trabajando en la automatización del blanqueo de clave, por el
        momento, si necesitas blanquearla, envíanos un mensaje con tu número de
        tag y te enviaremos al correo privado tu contraseña de ingreso</h4>

      <h4>Mensaje:
        <a href="https://wa.me/+541162366175" target="_blank">
          1162366175</a></h4>

      <div class="text-left">
        <button
          class="btn btn-success my-3"
          onclick="location.href = '/auth/login'"
        >Iniciar sesión</button>
      </div>
    </div>
  </body>
</html>